@import url(./shiki.css);

th,
td {
  img {
    display: inline-block;
  }
}

.doom-btn {
  position: relative;
  padding: 0 !important;

  > span {
    display: block;
    padding: 0 20px;
  }
}

.doom-collapse-group {
  .rspress-directive {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--rp-radius-small);
      border-top-right-radius: var(--rp-radius-small);
    }

    &:last-child {
      border-bottom-left-radius: var(--rp-radius-small);
      border-bottom-right-radius: var(--rp-radius-small);
    }

    + .rspress-directive {
      margin-top: -1px;
    }
  }
}

@mixin callout {
  counter-increment: callouts;
  content: counter(callouts);
  border-radius: 50%;
  background-color: #06c;
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.has-callouts .rspress-code-content {
  counter-reset: callouts;

  .line.callout {
    &:after {
      @include callout;
    }
  }
}

.doom-callouts {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.75rem;

  > ol {
    counter-reset: callouts;
    list-style-type: none;

    > li {
      margin-left: -1.25rem;

      &:before {
        @include callout;
        margin-right: 0.75rem;
      }

      > {
        ul,
        ol {
          margin-left: 1.25rem;
        }
      }
    }
  }
}

[class^='aside-container']:has(.hidden) {
  display: none;
}

[class*=' sticky_'] + section .rspress-local-toc-container {
  margin-top: var(--rp-nav-height);
}

.rspress-sidebar-menu-container:has(ul:empty) {
  display: none;
}

@mixin print {
  .rspress {
    &-nav,
    &-sidebar-menu,
    &-doc-footer {
      display: none;
    }

    &-doc-container {
      padding: 0;
    }

    &-directive-title::marker {
      content: none;
    }
  }

  [class^='scroll-to-top_'] {
    display: none;
  }
}

.print:root {
  @include print;
}

@media print {
  @include print;
}
