.container {
  background-color: var(--rp-c-bg-soft);
  padding: 12px;
  margin: 32px 0;
}

.item {
  background-color: var(--rp-c-bg);
  padding: 32px;
  display: flex;
  align-items: center;

  + .item {
    margin-top: 12px;
  }
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  width: 150px;

  img {
    width: 32px;
    height: 32px;
  }
}

.divider {
  width: 1px;
  height: inherit;
  align-self: stretch;
  border: 0;
  background-color: var(--rp-c-divider);
  margin: 0 40px;
}

.links {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow: hidden;

  li {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
  }

  a {
    color: var(--rp-c-link);
    font-size: 14px;
  }
}
