name: GitHub Pages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js LTS
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      - name: Build and Export
        run: |
          # export the docs as pdf first
          yarn docs:build -e
          yarn docs:export
          tempdir=$(mktemp -d)
          # copy the pdf to the tempdir
          cp -r ./dist/*.pdf $tempdir
          # then build the docs with pdf download link
          yarn docs:build -d
          # copy the pdf back to the dist folder
          cp -r $tempdir/*.pdf ./dist
          # remove the tempdir
          rm -rf $tempdir

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          cname: doom.js.org
          full_commit_message: ${{ github.event.head_commit.message }}
